::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  font-family: "Avenir", sans-serif;
  background-color: black;
  padding-left: 220px;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
  margin: 0;
}

.random_bg {
    height: 2000px;
    width: 100%;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: "Avenir", sans-serif;
}

.circular--square { 
  border-radius: 50%;
  border: 4px solid #A7A7A7;
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #141414;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

.sidenav a {
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 26px;
  color: white;
  display: block;
  font-family: "Avenir", sans-serif;
  font-weight: bold;
}

.sidenav a:hover {
  color: #B0B0B0;
}

/*.sidenav a.active {
  background-color: #04AA6D;
  color: white;
}*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

a {
  color:white;
}

a:hover {
  color: red;
}

h1 a:hover {
  color: white;
}

.collapsible {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgba(255,255,255,0.2);
}

.content {
  display: none;
  overflow: hidden;
  background-color: rgba(255,255,255,0.2);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 18px;
  color: white;
  font-size: 20px;
}

hr.dashed {
  border-top: 3px dashed #bbb;
}