body, html {
  height: 100%;
}

body {
  background: #dddddd;
  color: #4c4d4d;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #252b33;
  font-family: "Poppins", sans-serif;
}

.circular--square { 
  border-radius: 50%; 
}
